:root {
    --primary-color: rgb(255, 242, 242) ;
    --secondary-color: rgb(3, 7, 11);
    --secondary-font-color: rgb(229,101,58);

    --paragraph-font: "DM Sans", sans-serif;
    --title-font: "Rubik";
}

* {
    margin: 0px;
    padding: 0px;
}

.title {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    letter-spacing: 0.74px;
    padding-bottom: 10px;
    font-family: var(--title-font);
    font-weight: 600;
    font-size: 50px;

}

header {
    position: fixed;
    z-index: 20000;
    width: 100%;
    
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    background-color:var(--secondary-color);
    text-align: center;
    flex: 1 1 100%;
    color: aliceblue;
    display: block;
    padding: 12px;
    border: 1.2px groove black;
    pointer-events: fill;
    font-family: var(--paragraph-font);
    font-size: 18px;
    text-decoration: none;
}

a:hover {
    color: red;
}

a:active {
    color: red;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-family: var(--paragraph-font);
}

h1 {
    font-family: var(--title-font);
    font-size: 29px;
    display: block;
    
}

.top-gap {
    padding-top: 9rem;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.container {
    margin: 15px;
    padding: 5px;
    text-align: center;
}

#videogames-title {
    text-align: center;
    margin-top: 4rem;
}

#videogames-text {
    text-align: center;
    
}

.riot-titles {
    padding-top: 3em;
}

body {
    background-color: var(--primary-color);
}