:root {
    --primary-color: rgb(255, 242, 242) ;
    --primary-shadow: rgb(229,217,217);
    --secondary-color: rgb(3, 7, 11);
    --secondary-font-color: rgb(229,101,58);

    --paragraph-font: "DM Sans", sans-serif;
    --title-font: "Rubik";
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.title {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    letter-spacing: 0.74px;
    padding-bottom: 10px;
    font-family: var(--title-font);
    font-weight: 600;
    font-size: 50px;

}

header {
    position: fixed;
    z-index: 20000;
    width: 100%;
    
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    background-color:var(--secondary-color);
    text-align: center;
    flex: 1 1 100%;
    color: aliceblue;
    display: block;
    padding: 12px;
    border: 1.2px groove black;
    pointer-events: fill;
    font-family: var(--paragraph-font);
    font-size: 18px;
    text-decoration: none;
}

a:hover {
    color: red;
}

a:active {
    color: red;
}

section {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    padding-top: 9rem;
    padding-left: 2.6rem;
    padding-right: 2rem;
    background-color: var(--primary-color);
}
#choose {
    padding-top: 10rem;
    background-color: var(--primary-color);
    text-align: center;
    font-family: var(--title-font);
}

h2 {
    font-family: var(--title-font);
    margin: 8px;
}

p {
    font-family: var(--paragraph-font);
    margin: 10px;
}

img {
    width: auto;
    max-width: 400px;
    height: auto;
    background-color: var(--primary-shadow);
    position: relative;
}