header{
    background-color: bisque;
    padding: 4rem;
    grid-area: 1/2;
}

nav{
    margin: 0 auto 1rem;
    max-width: 90vw;
}
.navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    align-items: center;
}
.navigation li {
    flex: 1 1 auto;
}
.navigation a {
    display: block;
    color: #eee;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
}
.navigation a:hover {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: yellow;
}
body {
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / 300px 1fr auto;
}
