




nav {
    display: flex;
}
nav:hover {

}
main {
    max-width: 500;
    align-content: center;
}
.card {
    display: grid;
}
.me img {
    float: right;
}

.profile {
    height: auto;
    margin-right: 2rem;

}
img {
    margin: .5rem;
}